// README
// This is a .env example
// Please use cp env.example .env, then edit .env with your OPENAI_API_KEY etc.
// Once copied, remove these comments from the .env file 

OPENAI_API_KEY = ""
GITHUB_USERNAME = ""